
@media only screen and (max-width: 1337px) {
  .container {
    width: 90%;
 }
 .our-services .box-item-inner h4 {
  font-size: 25px;
}
.work-project .project-wrap .wrap-lft {
  padding: 65px;
}
.work-project .project-wrap .wrap-lft .wrap-cont h3 {
  font-size: 50px;
}
}


@media only screen and (max-width: 1024px) {
  .banner .banner-wrap .banner-caption h1 {
    font-size: 50px;
    line-height: 60px;
 }
 .banner .banner-wrap .banner-caption .btn-link {
  margin-top: 24px;
}
.main-footer .footer-wrap .foot-right {
  width: 72%;
}
}

@media only screen and (max-width: 992px) {
  h3 {
    font-size: 40px;
    line-height: 52px;
 }
  .header-main .flex-head .top-menu ul > li a {
    padding: 20px;
    display: block;
  }
  .header-main .flex-head .top-menu ul > li {
    margin: 0;
    border-top: 1px solid #013a81;
 }
  .header-main .flex-head .top-menu ul > li:last-child {
    border-bottom: 1px solid #013a81;
    padding: 10px;
    text-align: center;
 }
 .header-main .flex-head .top-menu ul {
  display: block;
}
.header-main .flex-head .top-menu .menu-btn {
  display: block;
}
.header-main .flex-head .top-menu .nav-top {
  position: fixed;
  z-index: 99;
  width: 250px;
  left: -250px;
  height: 100%;
  top: 0;
  padding: 0;
  background: #fff;
  transition-duration: 0.4s;
  box-shadow: 0 0 10px #013a81;
}
.header-main .flex-head .top-menu .nav-top.show-srchbar {
  left: 0;
}
.banner {
  padding: 35px 0 40px 0;
}
.banner .banner-wrap .banner-caption h1 {
  font-size: 40px;
  line-height: 50px;
}
.our-story {
  margin: 50px 0;
}
.our-story::before {
  display: none;
}
.our-story .wrap-cont .lft-img {
  width: 100%;
}
.our-story .wrap-cont .lft-img::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: -50%;
  top: 0;
  display: block;
  background: #013a81;
}
.our-story .wrap-cont .rght-cont {
  width: 100%;
}
.main-footer .footer-wrap {
  padding: 0;
}
.work-project .project-wrap .wrap-lft {
  width: 100%;
  padding: 30px;
}
.work-project .project-wrap .wrap-rght{
  width: 100%;
}
.work-project .project-wrap .wrap-lft .wrap-cont {
  width: 100%;
  max-width: 100%;
}
.work-project .project-wrap .wrap-lft .wrap-cont p {
  margin-bottom: 30px;
}
}

@media only screen and (max-width: 767px) {
  .banner .banner-wrap .banner-caption {
    width: 80%;
    padding: 20px;
 }
 .banner .banner-wrap .bnr-img {
  display: none;
}
.main-footer .footer-wrap .foot-right .quick-links ul li {
  margin-bottom: 10px;
}
.main-footer .footer-wrap .foot-right .quick-links {
  padding: 0 10px;
  width: 50%;
  margin-bottom: 10px;
}
.main-footer .footer-wrap .foot-right .quick-links:last-child {
  width: 100%;
}
.main-footer .footer-wrap .foot-right {
  width: 100%;
  margin-top: 40px;
  flex-wrap: wrap;
}
.work-project .project-wrap .wrap-lft .wrap-cont h3 {
  font-size: 40px;
}
.help-box .wrap-box {
  display: block;
  text-align: center;
}
.help-box .wrap-box h3 {
  width: 100%;
  text-align: center;
  font-size: 36px;
  line-height: 39px;
}
}































